<!DOCTYPE html>
<html>
<head>
<title>Ingresar</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
	<div id="bloq1">
		<center>
		<img src="imgs/logo.png">
		</center>
	</div>
		<div class="w3-container w3-black">
		  <h2>Ingrese sus credenciales</h2>
		</div>
			<center>
			<form class="w3-container">
			  <p>
			  <label>Usuario</label>
			  <input class="w3-input" type="text"></p>
			  <p>
			  <label>Contraseña</label>
			  <input class="w3-input" type="password"></p>
			  <p>
			  <input type="button" value="INGRESAR">
			</form>
		</center>
	<footer>
		<div id="bloq2">
				<a name="contacto"></a>
				<center><a style="color:white">CONTACTO +56 9 1653 9912</a></center>
			</div>
	</footer>
	
	<!--estilos-->
	<style>
		input[type=button]{
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 16px 32px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
		}
		
		
		form {
			width:50%;
			font-size:20px;
			padding-top:100px;
		}
		#bloq1 {
			padding-top:30px;
			padding-bottom:30px;
			position:center;
			width:100%;
			
			background: #85d4b7;
		}
		#bloq2 {
			padding-top:150px;
			font-size: 60px;
			background-color:#85d4b7;
			width:100%;
			height:400px;
		}
	</style>
</body>
</html>
